<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="nofollow">
	<title>{{Moved from Japanese Wikipedia}} ジェネレーター</title>
	<link rel="stylesheet" href="style.css">
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
	<header>
		<h1>ウィキメディア・コモンズ用 <code>{{<a href="https://commons.wikimedia.org/wiki/Template:Moved_from_Japanese_Wikipedia">Moved from Japanese Wikipedia</a>}}</code> ジェネレーター</h1>
		<h2>"Moved from Japanese Wikipedia" Template Generator for Wikimedia Commons</h2>
	</header>
	
	<div id="intro">
	<p>日本語版ウィキペディアからウィキメディア・コモンズに<a href="https://ja.wikipedia.org/wiki/H:M2C">画像を移動させる</a>ときには、ファイル履歴と解説ページ履歴を全部コモンズ側に転記しないといけないんだそうです。このツールはテンプレート <code>{{<a href="https://commons.wikimedia.org/wiki/Template:Moved_from_Japanese_Wikipedia">Moved from Japanese Wikipedia</a>}}</code> の作成にお役立てください。概要 <code>description =</code> は自動記入されないので手でコピペしてください。</p>
	</div>
	
	<div id="content">
	<p>1. ファイル名を入力して、ボタンをクリック<br><small>（「ファイル:」は含めない）</small></p>
	<form id="inputform">
		<input type="text" class="text" id="txt_name" size="30" maxlength="70" placeholder="Example.jpg">
		<input type="submit" class="submit" value=" 生 成 ">
	</form> 
	<p>2. 下記をクリップボードにコピーして、<br>コモンズ側のファイルページに貼り付ける</p>
	<form id="outputform">
		<textarea name="output" class="textarea" id="txta_out" rows="20" cols="100" readonly onclick="this.select()"></textarea> 
	</form>
	<p>3. 概要 (<code>description = </code>) 欄に、日本語版のファイルページから適切な箇所をコピー＆ペーストする。</p>
	</div>
	
	<div id="news">
	
	</div>
	
	<footer>
	<p>連絡先 : <a href="https://ja.wikipedia.org/wiki/%E5%88%A9%E7%94%A8%E8%80%85:%E6%9C%9D%E5%BD%A6">朝彦 Asahiko</a></p>
	<p><a href="https://bitbucket.org/asahiko/jawiki-img-to-commons">Source code</a> under <a href="https://www.gnu.org/licenses/gpl.html">GPL</a></p>
	<p><a href="https://commons.wikimedia.org/wiki/File:To_Commons.svg">Image</a> by <a href="https://commons.wikimedia.org/wiki/User:WarX">Artur Jan Fijałkowski</a> under <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.ja">CC BY-SA</a></p>
	</footer>
	
	<script src="main.js"></script>
</body>
</html>