body {
	font-family: "Helvetica Neue",Helvetica,Arial,"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
	margin: 0;
}
code {
	font-family: Osaka-mono, "MS Gothic", monospace;
	background-color: #eee;
	padding: 3px;
}
a {
	color: #0645ad;
	text-decoration: none;
}
a:visited {
	color: #0b0080;
}
a:hover {
	text-decoration: underline;
}
header {
	background-image: linear-gradient(to bottom,#fff,#f2f2f2);
	background-repeat: repeat-x;
	border-bottom: 1px solid #d4d4d4;
	border-left: #339966 6px solid;
	margin: 0 0 1em 0;
	padding: 0 0 0 100px;
}
h1, h2 {
	font-weight: normal;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}
h1 {
	font-size: medium;
	margin: 0;
}
h2 {
	font-size: small;
	margin-top: 0;
}
#intro, #news { margin: 0 100px; }
#intro { font-size: small; }
#news { font-size: x-small; }
#content {
	background: #eee;
	background-image: url(To_Commons.png);
	background-position: right top;
	background-repeat: no-repeat;
	margin: 0 100px;
	padding: 0.1em 50px 1em 50px;
	border-radius: 8px;
}
#content p {
	background: #eee;
	margin: 0.3em 30% 0 0;
}
.text, textarea {
	border: 1px solid #777;
	padding: 5px;
	background: #fff;
	border-radius: 5px;
}
#outputform textarea {
	width: 100%;
	height: 150px;
}
.submit {
	display: inline-block;
	border-color: #468;
	background: linear-gradient(to bottom,#48e 0%,#36b 90%);
	box-shadow: 0 1px 3px rgba(0,0,0,.35);
	font-size: medium;
	color: #fff;
	border-radius: 5px;
	padding: 0.2em 1em;
}
.submit:hover {
	cursor: pointer;
}
#txt_name {
	width: 60%;
}
footer {
	text-align: center;
	color: #555;
	font-size: x-small;
}
